
<div class="jumbotron">
  <div class="pull-right">
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %> -
      <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </div>
  <h2 class="welcome-header">Blocipedia: Social, Markdown Wikis</h2>

  <div class="container">
    <h4>Create and share Markdown Wikis</h4>
    <% if user_signed_in? %>
      <%= link_to wikis_path do %>
        <button type="button">Browse Public Wikis</button>
      <% end %>
      <% else %>
        <button type="button" class="sign-up"><%=link_to "Sign Up", new_user_registration_path%></button>
      <% end %>
  </div>
  <div class="columns">
    <div class="column-one">
      <h5>Create as many public wikis as you want!</h5>
      <% if user_signed_in? %>
        <%= link_to wikis_path do %>
          <button type="button" class="free-plan">Free plan</button>
        <% end %>
      <% else %>
        <%= link_to new_user_registration_path do %>
          <button type="button" class="free-plan">Free plan</button>
        <% end %>
      <% end %>
    </div>
    <div class="column-two">
      <h5>Create private wikis!</h5>
      <% if current_user.role == "premium" %>
        <%= link_to private_wikis_index_path do %>
          <button type="button" class="premium-plan">Private Wikis</button>
        <% end %>
      <% else %>
        <%= link_to new_charge_path do %>
          <button type="button" class="premium-plan">Premium plan</button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
