<h1>New Private Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for private wikis</p>
    <ul>
      <li>Welcome to the super secret private wiki club!</li>
      <li>Make sure your wiki is objectively interesting.</li>
      <li>Thanks.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= form_for @private_wiki do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter private wiki title" %>
      </div>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter private wiki body" %>
      </div>
      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
