<div class="wiki-head">
  <h1><%= @wiki.title %></h1>
  <p>Created by <%= @wiki.user.email %></p>
</div>
 <div class="row">
   <div class="col-md-8">
     <p>
      <%= markdown(@wiki.body) %>
    </p>
     <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
     <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
   </div>
   <div class="col-md-8">
     <%= link_to "Return to Wikis Home", wikis_path, class: "return" %>
   </div>

   <div class="col-md-4" id="collab-column">
     <% if current_user.admin? || current_user.premium? || @wiki.collaborators.include?(current_user) %>
       <h4>Collaborators</h4>
         <% @wiki.collaborators.each do |collaborator| %>
           <div class="col-md-8">
             5
             <%= collaborator %>
           </div>
         <% end %>
     <% end %>
   </div>
 </div>
