<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="full-page">
    <nav class="top-nav">
      <p id="top-header">Blocipedia</p>
      <div class="nav-links">
        <div class="icons">
          <a href="#" onclick="history.go(-1)"><i class="ion-arrow-left-a arrow"></i></a>
          <a href="#" onclick="history.go(1)"><i class="ion-arrow-right-a arrow"></i></a>
          <a href="#" onclick="window.stop()"><i class="ion-close-round close"></i></a>
          <a href="#"><i class="ion-home home"></i></a>
          <input type="text" class="url-field" placeholder="http://blocipedia.com">
          <input type="text" class="search-field" placeholder="Search Blocipedia...">
        </div>
      </div>
    </nav>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>

  <% if user_signed_in? %>
    Signed in as: <strong><%= current_user.email %></strong> |
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> - <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %> -
    <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>

  </div>
</body>
</html>
